name: Deploy Demo Utilities

on:
    workflow_dispatch: {}
jobs:
  build:
    name: deploy from main
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Deployment
        uses: armory/cli-deploy-action@main
        with:
          clientId: "${{ secrets.ARMORY_CDAAS_CLIENT_ID }}"
          clientSecret:  "${{ secrets.ARMORY_CDAAS_CLIENT_SECRET }}" #Client secret that you created in the Armory Cloud Console that has been encrypted with GitHub's encrypted secrets.
          path-to-file: "/deploy-utilities.yaml" # Path to the deployment file. For more information, see the Create a deployment file section.



